@font-face {
  font-family: "iconfont"; /* Project id 3292870 */
  src: url('iconfont.woff2?t=1649513399112') format('woff2'),
       url('iconfont.woff?t=1649513399112') format('woff'),
       url('iconfont.ttf?t=1649513399112') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangbiao:before {
  content: "\e623";
}

.icon-fanhuidingbu:before {
  content: "\e620";
}

.icon-jiagebaohu:before {
  content: "\e604";
}

.icon-wwuliu-:before {
  content: "\e6a8";
}

.icon-haoping-:before {
  content: "\e606";
}

.icon-xinlangweibo:before {
  content: "\e602";
}

.icon-weixin:before {
  content: "\e603";
}

.icon-zaixiankefu:before {
  content: "\e674";
}

.icon-erweima:before {
  content: "\e632";
}

.icon-yueduliang:before {
  content: "\e6d2";
}

.icon-aixin:before {
  content: "\eca1";
}

.icon-yanjing:before {
  content: "\e8bf";
}

.icon-dayuhao:before {
  content: "\e625";
}

.icon-shouji:before {
  content: "\e601";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-zhaoxiangji:before {
  content: "\e663";
}

.icon-sousuo:before {
  content: "\e622";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-map-filling:before {
  content: "\e68c";
}

