@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1628329094428') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuqian:before {
  content: "\e61f";
}

.icon-yaowan:before {
  content: "\e61a";
}

.icon-daipingjia:before {
  content: "\e799";
}

.icon-jilu:before {
  content: "\e646";
}

.icon-zhengque:before {
  content: "\e603";
}

.icon-youhuiquan:before {
  content: "\e621";
}

.icon-daifahuo:before {
  content: "\e65d";
}

.icon-daishouhuo:before {
  content: "\e630";
}

.icon-shouye:before {
  content: "\e6f2";
}

.icon-gouwuchekong:before {
  content: "\e501";
}

.icon-yaoqinghaoyou:before {
  content: "\e660";
}

.icon-shuzi:before {
  content: "\e6ed";
}

.icon-sself:before {
  content: "\e502";
}

.icon-wodepintuan:before {
  content: "\e64a";
}

.icon-kehufuwu:before {
  content: "\e647";
}

.icon-dizhiguanli:before {
  content: "\e618";
}

.icon-xianghou:before {
  content: "\e64f";
}

.icon-saoma:before {
  content: "\e656";
}

.icon-daifukuan:before {
  content: "\e7cd";
}

.icon-wenzhenjilu1:before {
  content: "\e695";
}

.icon-Frame1-copy:before {
  content: "\e532";
}

.icon-sousuo:before {
  content: "\e6c5";
}

.icon-xiaoxi:before {
  content: "\e62c";
}

.icon-a-shezhi1:before {
  content: "\e64d";
}

